<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Главная</title>
	<meta name="description" content="описание не длиннее 155 символов">
	<meta name="keywords" content="мета-теги, шаблон, html, css">
	<!-- Фавиконы и иконки сайта -->
	<link rel="icon" href="../images/favicon/cropped-favicon.png">
	<meta name="theme-color" content="#ffffff">
	<!-- стили -->
	<link rel="stylesheet" href="../styles/main.css" />
</head>
<body>
	<div id="header"></div>
	<div class="wrapper" id="app">
		<div class="row">
			<main class="col-lg-9">
				<!-- ======================================================================== -->

				<section class="" data-section="section-blog">
					<a href="index.html" class="post">
						<img src="../images/404.png" alt="404-image" class="404-image">
					</a>
				</section>

				<!-- ======================================================================== -->
			</main>

			<div class="col-lg-3" id="aside"></div>

		</div>
	</div>
	<div class="footer"></div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="../scripts/main.js"></script>
</body>
</html>