<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta id="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Single</title>
	<meta id="description" content="описание не длиннее 155 символов">
	<meta id="keywords" content="мета-теги, шаблон, html, css">
	<!-- Фавиконы и иконки сайта -->
	<link rel="icon" href="../images/favicon/cropped-favicon.png">
	<meta id="theme-color" content="#ffffff">
	<!-- стили -->
	<link rel="stylesheet" href="../styles/main.css" />
</head>

<body>


	<div id="header"></div>


	<div class="wrapper" id="app">
		<div class="row">
			<main class="col-lg-9">
				<!-- ======================================================================== -->




				<section class="single-content">
					<div class="section-body">

						<img src="../images/s1200.jpg" alt="post-image" class="post-image ibg">
						<div class="post-text">
							<h1 class="post-title">Post Title 1 - single</h1>

							<hr>

							<p>
								Lorem ipsum <span>span in the text</span> sit, amet consectetur adipisicing elit. Quis
								accusamus debitis
								necessitatibus rem voluptates, sit corporis illo enim obcaecati eius blanditiis! Saepe
								minima labore suscipit tempora laborum adipisci expedita quidem.
							</p>

							<p>
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis accusamus debitis
								necessitatibus rem voluptates, sit corporis illo enim obcaecati eius blanditiis! Saepe
								minima labore suscipit tempora laborum adipisci expedita quidem.
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis accusamus debitis
								necessitatibus rem voluptates, sit corporis illo enim obcaecati eius blanditiis! Saepe
								minima labore suscipit tempora <span>span in the text</span> adipisci expedita quidem.
							</p>

							<p>
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis accusamus debitis
								necessitatibus rem voluptates, sit corporis illo enim obcaecati eius blanditiis! Saepe
								minima labore suscipit tempora laborum adipisci expedita quidem.
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis accusamus debitis
								necessitatibus rem voluptates, sit corporis illo enim obcaecati eius blanditiis! Saepe
								minima labore suscipit tempora <span><a href="#">span > Link in The Text</a></span>
								adipisci expedita quidem.
							</p>

							<h4>лучшие дистрибутивы линукс:</h4>

							<ul>
								<li>Manjaro</li>
								<li>Ubuntu</li>
								<li>ArcoLinux</li>
								<li>Linux Mint</li>
							</ul>

							<a href="#" class="btn">Download</a>

							<p>
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis accusamus debitis
								necessitatibus rem voluptates, sit corporis illo enim obcaecati eius blanditiis! Saepe
								minima labore suscipit tempora laborum adipisci expedita quidem.
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis accusamus debitis
								necessitatibus rem voluptates, sit corporis illo enim obcaecati eius blanditiis! Saepe
								minima labore suscipit tempora laborum adipisci expedita quidem.
							</p>

							<table class="table">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">First</th>
										<th scope="col">Last</th>
										<th scope="col">Handle</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">1</th>
										<td>Mark</td>
										<td>Otto</td>
										<td>@mdo</td>
									</tr>
									<tr>
										<th scope="row">2</th>
										<td>Jacob</td>
										<td>Thornton</td>
										<td>@fat</td>
									</tr>
									<tr>
										<th scope="row">3</th>
										<td>Larry</td>
										<td>the Bird</td>
										<td>@twitter</td>
									</tr>
								</tbody>
							</table>

							<h3>allerts</h3>

							<div class="alert alert-primary">
								A simple primary alert—check it out!
							</div>
							<div class="alert alert-secondary">
								A simple secondary alert—check it out!
							</div>
							<div class="alert alert-success">
								A simple success alert—check it out!
							</div>
							<div class="alert alert-danger">
								A simple danger alert—check it out!
							</div>
							<div class="alert alert-warning">
								A simple warning alert—check it out!
							</div>
							<div class="alert alert-info">
								A simple info alert—check it out!
							</div>
							<div class="alert alert-dark">
								A simple dark alert—check it out!
							</div>


							<h3>breadcrumb</h3>

							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">sitename.com</a></li>
									<li class="breadcrumb-item"><a href="#">views</a></li>
									<li class="breadcrumb-item active" aria-current="page">single.html</li>
								</ol>
							</nav>


							<h3>Accordion</h3>

							<div class="accordion">
								<div class="accordion-button">Accordion #1</div>
								<div class="accordion-content">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque est cumque natus sed
									maiores recusandae aliquid eaque ipsum esse cum assumenda.Lorem ipsum dolor sit amet
									consectetur adipisicing elit. Itaque est cumque natus sed Lorem ipsum
									maiores recusandae aliquid eaque esse cum assumenda. natus sed.
								</div>
							</div>

							<div class="accordion">
								<div class="accordion-button">Accordion #2</div>
								<div class="accordion-content">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque est cumque natus sed
									maiores recusandae aliquid eaque ipsum esse cum assumenda.Lorem ipsum dolor sit amet
									consectetur adipisicing elit. Itaque est cumque natus sed Lorem ipsum
									maiores recusandae aliquid eaque esse cum assumenda. natus sed.
								</div>
							</div>


							<h3>Form</h3>

							<form action="">
								<div class="form-group">
									<label for="inp0">input.email</label>
									<input type="email" id="inp0" placeholder="input.email">
								</div>

								<div class="form-group">
									<label for="inp1">input.checkbox</label>
									<input type="checkbox" id="inp1" placeholder="input.checkbox">
									<input type="checkbox" id="inp1_" placeholder="input.checkbox">
									<input type="checkbox" id="inp1__" placeholder="input.checkbox">

								</div>

								<div class="form-group">
									<label for="inp7">input.radio</label>
									<input type="radio" id="inp7" placeholder="input.radio">
								</div>

								<div class="form-group">
									<label for="inp2">input.date</label>
									<input type="date" id="inp2" placeholder="input.date">
								</div>

								<div class="form-group">
									<label for="inp3">input.file</label>
									<input type="file" id="inp3" placeholder="input.file">
								</div>

								<div class="form-group">
									<label for="inp4">input.number</label>
									<input type="number" id="inp4" placeholder="input.number">
								</div>

								<div class="form-group">
									<label for="inp5">input.password</label>
									<input type="password" id="inp5" placeholder="input.password">
								</div>

								<div class="form-group">
									<label for="inp6">input.range</label>
									<input type="range" id="inp6" placeholder="input.range">
								</div>



								<div class="form-group">
									<label for="phone">input.tel</label>
									<input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
										required>
								</div>

								<div class="form-group">
									<label for="inpta">input.textarea</label>
									<textarea name="inpta" id="inpta" cols="46" rows="9"></textarea>
								</div>

							</form>


						</div>
					</div>
				</section>



				<!-- ======================================================================== -->
			</main>

			<div class="col-lg-3" id="aside">
				
			</div>

		</div>
	</div>


	<div id="footer"></div>



	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="../scripts/jquery.maskedinput.min.js"></script>
	<script src="../scripts/main.js"></script>


</body>

</html>