@mixin wrap {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: $breakpoint-sm) {
        .wrap {
            max-width: 540px;
        }
    }

    @media (min-width: $breakpoint-md) {
        .wrap {
            max-width: 720px;
        }
    }

    @media (min-width: $breakpoint-lg) {
        .wrap {
            max-width: 960px;
        }
    }

    @media (min-width: $breakpoint-xl) {
        .wrap {
            max-width: 1140px;
        }
    }
}